html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3em 15fr;
    grid-template-areas: 
    "header header"
    "aside  main";
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity .3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #FFFFFF;
    width: 500px;
    max-width: 100%;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 2px rgb(67, 207, 12) solid;
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 1rem;
}

form label {
    font-weight: bold;
    text-align: right;
}

form label:after {
    content: ':';
}

.form-input {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    margin-left: 4rem;
}

.submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

input[type=submit] {
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 125px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background-image: linear-gradient(to bottom right, #19d422, #836bdb);
}

input[type=submit]:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    cursor: pointer;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #0F9D58;
}

header > h1 {
    color: white;
    font-size: 2rem;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: hsl(0, 0%, 96%);
}

.wrapper {
    border: 1px solid lightgrey;
    margin-bottom: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper > h2 {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
    cursor: pointer;
}

.wrapper > h2:hover {
    background-color: hsl(0, 0%, 80%);
}

.wrapper > h2:active {
    background-color: hsl(0, 0%, 70%);
}

.project-menu {
    background-color: hsl(0, 0%, 97%);
}

.height {
    height: 20rem;
}

.projects {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.projects > span {
    margin-left: auto;
}

.drop-down {
    height: 2rem;
    width: 2rem;
}

.rotate {
    transform: rotate(180deg);
}

main {
    grid-area: main;
    background-color: hsl(0, 0%, 97%);
}

.tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    width: 1000px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: .5rem;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 15px;
}

#date-project-container {
    display: flex;
    gap: 1rem;
}

.date, .project {
    display: flex;
    justify-content: center;
    width: 5rem;
    font-size: .9rem;
    border: .5px solid rgb(67, 207, 12);
    border-radius: 15px;
}

.new-task {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 0rem;
}

.new-task:hover {
    background-color: hsl(0, 0%, 85%);
    border: 1px solid rgb(107, 107, 107);
    cursor: pointer;
}

.new-task:active {
    background-color: hsl(0, 0%, 70%);
}